@model Echange_Livres.DTOs.UserDTO
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/LoginTemplate/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="~/Content/LoginTemplate/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/Content/LoginTemplate/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/LoginTemplate/css/style.css">
    <title>Login #7</title>
    <script nonce="3ecb9f41-4384-4659-ba5e-2eb1edb3a181">(function (w, d) { !function (cM, cN, cO, cP) { cM.zarazData = cM.zarazData || {}; cM.zarazData.executed = []; cM.zaraz = { deferred: [], listeners: [] }; cM.zaraz.q = []; cM.zaraz._f = function (cQ) { return function () { var cR = Array.prototype.slice.call(arguments); cM.zaraz.q.push({ m: cQ, a: cR }) } }; for (const cS of ["track", "set", "debug"]) cM.zaraz[cS] = cM.zaraz._f(cS); cM.zaraz.init = () => { var cT = cN.getElementsByTagName(cP)[0], cU = cN.createElement(cP), cV = cN.getElementsByTagName("title")[0]; cV && (cM.zarazData.t = cN.getElementsByTagName("title")[0].text); cM.zarazData.x = Math.random(); cM.zarazData.w = cM.screen.width; cM.zarazData.h = cM.screen.height; cM.zarazData.j = cM.innerHeight; cM.zarazData.e = cM.innerWidth; cM.zarazData.l = cM.location.href; cM.zarazData.r = cN.referrer; cM.zarazData.k = cM.screen.colorDepth; cM.zarazData.n = cN.characterSet; cM.zarazData.o = (new Date).getTimezoneOffset(); if (cM.dataLayer) for (const cZ of Object.entries(Object.entries(dataLayer).reduce(((c_, da) => ({ ...c_[1], ...da[1] }))))) zaraz.set(cZ[0], cZ[1], { scope: "page" }); cM.zarazData.q = []; for (; cM.zaraz.q.length;) { const db = cM.zaraz.q.shift(); cM.zarazData.q.push(db) } cU.defer = !0; for (const dc of [localStorage, sessionStorage]) Object.keys(dc || {}).filter((de => de.startsWith("_zaraz_"))).forEach((dd => { try { cM.zarazData["z_" + dd.slice(7)] = JSON.parse(dc.getItem(dd)) } catch { cM.zarazData["z_" + dd.slice(7)] = dc.getItem(dd) } })); cU.referrerPolicy = "origin"; cU.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(cM.zarazData))); cT.parentNode.insertBefore(cU, cT) };["complete", "interactive"].includes(cN.readyState) ? zaraz.init() : cM.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, 0, "script"); })(window, document);</script>
</head>
<body>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Content/LoginTemplate/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3 class="heading-section" color="purpule">Create Account</h3>
                            </div>
                            <form action="#" method="post">
                                @Html.ValidationMessageFor(u => u.Name)
                                <div class="form-group first">
                                    <input type="text" class="form-control" id="name" placeholder="Name" name="Name" required>
                                </div>
                                @Html.ValidationMessageFor(u => u.Email)
                                <div class="form-group first">
                                    <input type="text" class="form-control" id="email" placeholder="Email" name="Email" required>
                                </div>
                                @Html.ValidationMessageFor(u => u.Password)
                                <div class="form-group last mb-4">
                                    <style>
                                        .toggle-password {
                                            position: absolute;
                                            top: 40%;
                                            right: 5%;
                                            cursor: pointer;
                                            color: mediumpurple;
                                        }
                                    </style>
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="Password" required>
                                    <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                @Html.ValidationMessageFor(u => u.Adress)
                                <div class="form-group first">
                                    <input type="text" class="form-control" id="adresse" placeholder="Adresse" name="Adresse" required>
                                </div>
                                <div class="form-group">
                                    <input type="file" class="form-control" name="Photo">
                                </div>
                                <input type="submit" value="Create" class="btn btn-block btn-primary">
                                <div class="form-group d-md-flex">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/LoginTemplate/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/LoginTemplate/js/popper.min.js"></script>
    <script src="~/Content/LoginTemplate/js/bootstrap.min.js"></script>
    <script src="~/Content/LoginTemplate/js/main.js"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"76fb1e739d7acdcf","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
</body>
</html>

